.row
  - @videos.each do |video|
    .col.m4
      .youtube-player{"data-embed" => youtube_embed(video), "data-thumb" => video.thumbnail_url}
    / # = video["data"]
  / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => youtube_embed(video), :width => "560"}