- @reddit_videos.each do |rv|
  .row
    .col.m6
      .youtube-player{"data-embed" => youtube_embed(rv), "data-thumb" => rv["data"]["secure_media"]["oembed"]["thumbnail_url"]}
    = rv["data"]
  / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => youtube_embed(video), :width => "560"}