- @videos.each do |video|
  .row
    .col.m6
      .youtube-player{"data-thumb" => video.thumbnail_url}
    / # = video["data"]
  / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => youtube_embed(video), :width => "560"}