- @videos.each do |video|
  .row
    .col.m6
      .youtube-player{"data-embed" => youtube_embed(video), "data-thumb" => video["data"]["secure_media"]["oembed"]["thumbnail_url"]}
  / # = video["data"]["secure_media"][]
  / %iframe{:allowfullscreen => "", :frameborder => "0", :height => "315", :src => youtube_embed(video), :width => "560"}